// COLORS
$color-primary: #f92d2d;

$color-gray-light: #e3e3e3;

$color-gray-dark: #231f20;

$color-black: #000;
$color-white: #fff;

// Chat Colors
$background: #36393F;
$sidebar: #2F3136;
$header-text: #FFF;
$message-bg-sent: #40444B;
$message-bg-received: #7289DA;
$text-color: #DCDDDE;
$input-bg: #40444B;
$border: rgba(0, 0, 0, 0.2);