.nav-parent {
    background-color: $color-gray-dark;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    transition: padding .2s linear;
    
    &.small {
        padding: 1rem 0;
    }
    
    &__logo {
        text-transform: uppercase;
        font-size: 2rem;
    }
    
    &__list {
        display: flex;
        list-style: none;
        
        @include respond(tab-port) {
            position: absolute;
            top: 8vh;
            right: 0;
            height: 92vh;
            background-color: $color-gray-dark;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            transform: translateX(100%);
            transition: transform .4s ease-in;
        }
    
        &.active {
            transform: translateX(0);
        }
    }
    
    &__item {
        margin: 0 2rem;
        
        @include respond(tab-port) {
            margin: 2rem 0;
            opacity: 0;
        }
        
        &:last-child {
            margin-right: 0;
    
            @include respond(tab-port) {
                margin: 2rem 0;
            }
        }
    }
    
    &__link {
        text-decoration: none;
        letter-spacing: .3rem;
        font-weight: bold;
        font-size: 1.4rem;
    }
    
    &__burger {
        display: none;
        cursor: pointer;
        
        @include respond(tab-port) {
            display: block;
        }
    
        &--line {
            width: 2.5rem;
            height: .3rem;
            background-color: $color-white;
            margin: .5rem;
            transition: all .3s ease;
        }
    
        &.toggle {
            .nav__burger--line-1 {
                transform: rotate(-45deg) translate(-.5rem, .6rem);
            }
        
            .nav__burger--line-2 {
                opacity: 0;
            }
        
            .nav__burger--line-3 {
                transform: rotate(45deg) translate(-.5rem, -.6rem);
            }
        }
    }
}