*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    background-color: $color-white;
    overflow: hidden;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: $color-white;
}

